<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935533147700-jnu6etl2gisindu61359hvgk772lign7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935533147700-jnu6etl2gisindu61359hvgk772lign7</string>
	<key>API_KEY</key>
	<string>AIzaSyDJMhYFSNe5hqVUMYW8dT0tZ8u5ZrbSkOY</string>
	<key>GCM_SENDER_ID</key>
	<string>935533147700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.Fit5140-ChatBot</string>
	<key>PROJECT_ID</key>
	<string>covid-tracker-e5679</string>
	<key>STORAGE_BUCKET</key>
	<string>covid-tracker-e5679.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935533147700:ios:3165859ac2bd6a8b333c61</string>
	<key>DATABASE_URL</key>
	<string>https://covid-tracker-e5679.firebaseio.com</string>
</dict>
</plist>